{
  "Entries": [
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/dcca53d9-12a7-1580-1aaf-f527eff79e53/manifests/download-test",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://annelocontainerregistry.azurecr.io/oauth2/token\u0022,service=\u0022annelocontainerregistry.azurecr.io\u0022,scope=\u0022repository:dcca53d9-12a7-1580-1aaf-f527eff79e53:pull\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "dcca53d9-12a7-1580-1aaf-f527eff79e53",
                "Action": "pull"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=annelocontainerregistry.azurecr.io\u0026access_token=Sanitized",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.65"
      },
      "ResponseBody": {
        "refresh_token": "Sanitized.eyJleHAiOjI2MTkzNzAyNTR9.Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=annelocontainerregistry.azurecr.io\u0026scope=repository%3Adcca53d9-12a7-1580-1aaf-f527eff79e53%3Apull\u0026refresh_token=Sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.633333"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://annelocontainerregistry.azurecr.io/v2/dcca53d9-12a7-1580-1aaf-f527eff79e53/manifests/download-test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.oci.image.manifest.v1\u002Bjson",
        "Docker-Content-Digest": "sha256:25a25fccbc727ee8999d1df5ebe421dd102da338494cb08549af20868e303389",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "ETag": "\u0022sha256:25a25fccbc727ee8999d1df5ebe421dd102da338494cb08549af20868e303389\u0022"
      },
      "ResponseBody": {
        "config": {
          "mediaType": "application/vnd.oci.image.config.v1\u002Bjson",
          "size": 13,
          "digest": "sha256:df9f97944d92fcfe0337f2f97202a24e614483bacca59e14419d153b59cd3c54"
        },
        "layers": [
          {
            "mediaType": "application/vnd.oci.image.layer.v1.tar",
            "size": 23,
            "digest": "sha256:454b205b4f7ddecfc2d43c8da0c15a69afb370a01b37037f63df617ded199747"
          }
        ],
        "schemaVersion": 2
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "CONTAINERREGISTRY_ENDPOINT": "https://annelocontainerregistry.azurecr.io",
    "RandomSeed": "178175469"
  }
}
